*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: #fff;
    color: #555;
    font-family:'Lato','Arial','sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.profile-pic{
    border-radius: 20px;
}


.thai{
    font-family: 'Kanit','sans-serif';
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.575)),url(../img/home-office-336373_1920.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vH;
}

.text-header{
    width: 1140px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.profile-detail{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
}

.profile-para{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-detail img{
    height: 700px;
    width: auto;
}

.experience{
    display: flex;
    justify-content: start;
    margin-left: 4%;
    
}

.section-video{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:40px;
}

.skill-lists{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.vid-del{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.vid-del video{
    width: 500px;
}

h1,h2,h3,h4{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1{

    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.ImportantHead-text{
    color: #e67e22;
    font-size: 120%;
    font-weight: 600;
}

.btn:link,
.btn:visited{
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.2s,border 0.2s;
}

.btn:hover,
.btn:active{
    background-color: #cf6d17;
}

.btn-join:link,
.btn-join:visited{
    border: 1px solid #e67e22;
}

.btn-join:hover,
.btn-join:active{
    border: 1px solid #cf6d17;
}

.logo{
    font-size: 200%;
    font-weight: 600;
    float: left;
}

.nav-ul{
    float: right;
    list-style: none;
}

.nav-ul li{
    display: inline-block;
    margin-left: 40px;
}

.nav-ul li a:link,
.nav-ul li a:visited{
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    padding: 8px 0;
}

.nav-ul li a:hover,
.nav-ul li a:active{
    border-bottom: 2px solid #e67e22;
}

section{
    padding: 100px 0;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
}
h2::after{
    display: block;
    background-color: #e67e22;
    height: 2px;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.introduct-p{
    line-height: 145%;
    width: 50%;
    text-align: left;
    margin-left: 15%;
}

.box{
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
}

.box ul{

    font-size: 90%;
    line-height: 145%;
    text-align: left;
}

.box ul li{
    list-style: none;
    margin: 20px;
}

.box ul li::before{
    content: "\2022"; 
    color: #e67e22; 
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.icon-features{
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

h3{
    font-size: 100%;
}

.box-video{
    margin-top: 80px;
}

.video-iProject div.row div.col h3{
    text-align: center;
}

.video-iProject div.row div.col video{
    width: 400px;
    height: 400px;
    margin-bottom:10px;
    margin-left: 80px;
}

footer{
    padding: 40px;
    background-color: #333;
    color: #fff;
}

.nav-footer{
    list-style: none; 
    padding-left: 150px;
}

.nav-footer img {
    width: 200px;
    height: auto;
    border-radius: 100px;
}

.box-img {
    /* margin-top: 40px; */
    padding-left: 250px;
}

.label{
    margin-top: 30px;
}

.ul-skill{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px;
}

.list-skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-banner{
    width: 150px;
    height: auto;
    cursor: pointer;
    transform: scale(1.0);
    transition: transform 0.4s;
}

.img-banner:hover{
    transform: scale(1.2);
}

.text-banner{
    text-align: center;
    margin-top: 10px;
}


.contact-item{
    width: 120%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.label {
    margin-top: 0px;
    margin-left: 10px;
}
