@media only screen and (max-width:1200px){
    .text-header{
        width: 100%;
        padding: 0 2%;
    }

    .row{
        padding: 0 2%;
    }

    .nav-footer{
        padding-left: 200px;
    }
    .box-img{
        margin-top: 40px;
        padding-left: 200px;
    }
}

@media only screen and (max-width:1024px){
    body{
        font-size: 18px;
    }

    header div.row nav{
        padding: 0 30px;
    }
}

@media only screen and (max-width:768px){
    body{
        font-size: 14px;
    }
    .text-header{
        width: 100%;
        padding: 0 2%;
    }

    .introduct-p{
        line-height: 145%;
        width: 50%;
        margin-left: 25%;
        text-align: center;
    }

    .nav-ul{
        margin-top: 30px;
    }


    .nav-footer{
        padding-left: 100px;
    }
    .box-img{
        margin-top: 10px;
        padding-left: 150px;
    }
    .box{
        padding-left: 45px;
        text-align: center;
    }
    

    .video-iProject div.row div.col video{
        width: 300px;
        height: 300px;
        margin-bottom:10px;
        margin-left: 40px;
    }

   
    
    .nav-footer img{
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
    
    .box-img{
        margin-top: 10px;
        padding-left: 100px;
    }
    
    .label{
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .img-banner{
        margin-left: 70px;
        margin-top: 10px;
        height: auto;
    }

    .copyright{
        margin-top: 20px;
    }
}


@media screen and (max-width: 425px) {
    .text-header {
        width: 90%;
        padding: 0 2%;
    }
    section {
        padding: 50px 0;
    }
    .nav-ul{
        display: none;
    }

    .introduct-p {
        width: 65%;
        margin-left: 20%;
    }

    .img-banner {
        margin-top: 40px;
        margin-left: 150px;
    }

    .box-img {
        padding-left: 0px;
    }

    .nav-footer {
        padding-left: 80px;
    }
}

@media only screen and (max-width:375px){
    
    
    .text-header{
        width: 100%;
        padding: 0 2%;
    }

    .introduct-p{
        line-height: 145%;
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }

    .box-img{
        margin-top: 10px;
        padding-left: 150px;
    }
    .box{
        padding-left: 45px;
        text-align: center;
    }

    .video-iProject div.row div.col video{
        width: auto;
        height: 180px;
        margin-top: 40px;
        margin-left: 30px;
    }
    
    .nav-footer {
        padding-left: 45px;
    }
   
    
    .nav-footer img{
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
    
    .box-img{
        margin-top: 40px;
        padding-left: 10px;
    }
    
    .label{
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .img-banner{
       
        margin-left: 130px;
        margin-top: 40px;
    }

    .copyright{
        margin-top: 20px;
    }
}

